# https://www.jianshu.com/p/840ba135df30

In [ ]:
import numpy as np, pandas as pd

In [ ]:
arr1 = np.arange(10)

In [ ]:
s1 = pd.Series(arr1)

In [ ]:
print(s1)

In [ ]:
 pd.Series({'a':1,'b':2})

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
df= pd.DataFrame(data)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])

In [ ]:
df2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},  'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
df3 = pd.DataFrame(pop)

In [ ]:
df3

In [ ]:
df.values

In [ ]:
df.year

In [ ]:
df2

In [ ]:
df2['debt']=3

In [ ]:
df2

In [ ]:
df2['newcol'] = [1,2,3,4,5,'a']

In [ ]:
df2

In [ ]:
df.columns

In [ ]:
df2.index

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [ ]:
df2['debt'] = val

In [ ]:
df2

In [ ]:
df2['eastern'] = df2.state == 'Ohio'

In [ ]:
df2

In [ ]:
del df2['eastern']

In [ ]:
df2

In [ ]:
df2.year.one

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],columns=['Ohio', 'Texas', 'California'])

In [ ]:
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [ ]:
frame2

In [ ]:
df2.loc['two','year']

In [ ]:
df2.loc['two', ['year','state']]

In [ ]:
df2.iloc[1,[0,1]]

In [ ]:
df2

In [ ]:
df2[['year','state']]

In [ ]:
df2[[False, False, True, True, True, False]]

In [ ]:
df2[1:3]

In [ ]:
df2.loc[:,['year','state']]

In [ ]:
df2.at['one','year']

In [ ]:
df2.sort_index()

In [ ]:
df2+df2

In [ ]:
df2*pd.Series(np.arange(1,6), index=['year','state','pop','debt','newcol'])

In [ ]:
df2>df2*2

In [ ]:
df2.sort_values('pop')

In [ ]:
df2.describe()

In [ ]:
df2.sum()

In [ ]:
df2.count()

In [ ]:
df2.mean(),df2.median()

In [ ]:
df2.var(), df2.std()

In [ ]:
df2.corr()

In [ ]:
df2.cov()

In [ ]:
pd.Series([2,2,5,2,2]).corr(pd.Series([1,1,6,1,1]))

In [ ]:
df2['year'].diff()

In [ ]:
df2['debt'].mode()

In [ ]:
df2['year'].value_counts()

In [ ]:
df2.quantile()

In [ ]:
df2['year'].unique()

In [ ]:
df2['year'].argmax()

In [ ]:
for name, group in df2.groupby('year'):
    print(name)
    print(group)

In [ ]:
pd.cut(df2['year'],3)

https://www.jianshu.com/p/509d7b97088cm

In [ ]:
df2.groupby('year').agg(['sum','mean','std'])

In [ ]:
df2['pop'] / df2.groupby('year')['pop'].transform('sum')

https://blog.csdn.net/cymy001/article/details/78300900

In [ ]:
salaries=pd.DataFrame({
    'name':['BOSS','Lilei','Lilei','Han','BOSS','BOSS','Han','BOSS'],
    'Year':[2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary':[999999,20000,25000,3000,9999999,999999,3500,999999],
    'Bonus':[100000,20000,20000,5000,200000,300000,3000,400000]
    })
salaries=salaries[['name','Year','Salary','Bonus']]
salaries

In [ ]:
def year_trans(x):
    return x-1
salaries.loc[:,'trans_year']=salaries['Year'].apply(year_trans)
salaries['tmp']=salaries['Year']-salaries['Salary']
salaries

In [ ]:
salaries['Salary_shift']=salaries['Salary'].shift(1)   #向下平移1
salaries

In [ ]:
salaries['diff']=salaries['Salary']-salaries['Salary_shift']    ###shift作用效果生效
salaries

In [ ]:
df1=pd.DataFrame({'apts':[55000,60000,80000],
                  'cars':[200000,300000,400000]})
df2 = pd.DataFrame({'apts':[35000, 30000, 50000],
                   'cars':[210000,310000,410000]})
df3 = pd.DataFrame({'apts':[34000, 32000, 70000],
                   'cars':[240000,350000,440000]})

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
df1.append([df2,df3])

In [ ]:
df1=pd.DataFrame({'apts':[55000,60000,80000],
                  'cars':[200000,300000,400000]})
DF=pd.DataFrame({'cars':[34000, 32000, 70000],
                   'apts':[240000,350000,440000],
                    'add':[11,22,33]})
DF=DF[['cars','add','apts']]

In [ ]:
pd.concat([df1,DF])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
df4=pd.DataFrame({'apts':[55000,60000,80000],
                  'cars':[200000,300000,400000]},
                  index=['Beijing','Shanghai','Nanjing'])
df5=pd.DataFrame({'apts':[55000, 70000, 80000],
                  'cars':[100000, 330000, 260000]},
                  index=['Beijing','Shanghai','Nanjing'])

In [ ]:
pd.merge(df4,df5,on=['apts'],how='left')

In [ ]:
pd.merge(df4,df5,on=['apts'],how='inner')

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, None])
string_data

In [ ]:
string_data.isnull()

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., None, None], [None, None, None], [None, 6.5, 3.]])
data

In [ ]:
data.dropna()

In [ ]:
data[4] = np.nan
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df

In [ ]:
df.iloc[:4, 1] = np.nan
df

In [ ]:
df.iloc[:2, 2] = np.nan
df

In [ ]:
 df.dropna(thresh=2)

In [ ]:
df = df.fillna(0)
df

In [ ]:
df.replace(0, 1)

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','pastrami', 'corned beef', 'bacon','pastrami', 'honey ham', 'nova lox'],
                   'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
  'bacon': 'pig',  'pulled pork': 'pig',  'pastrami': 'cow',  'corned beef': 'cow',
  'honey ham': 'pig',  'nova lox': 'salmon'
}
meat_to_animal

In [ ]:
data['animal'] = data['food'].map(meat_to_animal)
data